.wd-con-box {
  border: 1px #ddd solid;
  border-radius: 6px;
}

.wd-dp-box {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}