body.wd-defaults {
  font-size: 15px;
  background-color: #000;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wd-defaults p {
  margin: 0;
  padding: 0;
}

.wd-layout-con {
  margin-left: 25px;
  margin-right: 25px;
  border-left: 1px rgb(47, 51, 54) solid;
  border-right: 1px rgb(47, 51, 54) solid;
}

.wd-pl-16 {
  padding-left: 16px;
}

.wd-defaults * {
  font-size: inherit;
}

.wd-f1x {
  font-size: 110% !important;
}

.wd-f2x {
  font-size: 120% !important;
}

.wd-f3x {
  font-size: 130% !important;
}

.wd-f4x {
  font-size: 140% !important;
}

.wd-p-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.wd-search-box {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-search-inner {
  background-color: #444;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.wd-search-link {
  flex: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.wd-form-control {
  outline: none;
  border: 0;
  margin: 0;
  background-color: transparent;
  color: #fff;
  height: 28px;
  width: 100%;
}

.wd-color-active a,
.wd-color-active a:active,
.wd-color-active a:hover,
.wd-color-active a:visited {
  color: rgb(29, 161, 242) !important;
  outline: none;
  text-decoration: none;
}

.wd-menu-box {
  border-bottom: 2px rgb(47, 51, 54) solid;
}

.wd-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wd-menu>li {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
}

.wd-menu a {
  color: rgb(110, 118, 125);
  outline: none;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  font-size: 15px;
}

.wd-menu .wd-color-active a {
  border-bottom: 3px rgb(29, 161, 242) solid;
}

.wd-topic-box {
  padding: 16px;
}

.wd-topic-box .wd-topic-box {
  padding: 0px;
}

.wd-topic-box .wd-topic-box {
  padding: 0px;
}

.wd-topic-box .wd-topic-box:not(:first-child) {
  margin-top: 16px;
}

.wd-topic-name {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-topic-title {
  color: white;
  font-weight: bold;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.wd-topic-stats {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-flex-row {
  display: flex;
  flex-direction: row;
}

.wd-flex1 {
  flex: 1;
}

.wd-flex0 {
  flex: 0;
}

.wd-hr {
  height: 0px;
  margin: 0;
  border: 0;
  border-style: none;
  border-bottom: 1px rgb(47, 51, 54) solid;
}

.wd-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.wd-topic-author {
  color: white;
}