body {
  background-color: white !important;
}

.wd-search-box {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-search-inner {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  border: 1px lightgray solid;
}

.wd-search-link {
  flex: 0;
  padding-left: 24px;
}

.wd-form-control {
  outline: none;
  border: 0;
  margin: 0;
  background-color: transparent;
  height: 30px;
  width: 100%;
}

.wd-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wd-menu>li {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
}

.wd-menu a {
  color: rgb(110, 118, 125);
  outline: none;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  font-size: 15px;
}

.wd-menu .wd-color-active a {
  border-bottom: 3px rgb(29, 161, 242) solid;
}

.wd-topic-box {
  padding: 16px;
}

.wd-topic-box .wd-topic-box {
  padding: 0px;
}

.wd-topic-box .wd-topic-box {
  padding: 0px;
}

.wd-topic-box .wd-topic-box:not(:first-child) {
  margin-top: 16px;
}

.wd-topic-name {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-topic-title {
  color: white;
  font-weight: bold;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.wd-topic-stats {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.wd-topic-author {
  color: white;
}