body {
  background-color: #000 !important;
  font-size: 15px;
}

p {
  margin: 0;
}

.wd-search-box {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-search-inner {
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.wd-search-link {
  flex: 0;
  padding-left: 24px;
}

.wd-form-control {
  outline: none;
  border: 0;
  margin: 0;
  background-color: transparent;
  height: 34px;
  width: 100%;
}


.wd-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.wd-img-labels {
  left: 10px;
  bottom: 0px;
}

.wd-fa-1_5 {
  font-size: 150%;
}