body {
  background-color: black !important;
  font-size: 15px;
  color: white;
}

p {
  margin: 0;
}

.wd-search-box {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-search-inner {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  /* background-color: rgb(47, 51, 54); */
}

.wd-search-link {
  flex: 0;
  padding-left: 24px;
}

.wd-form-control {
  outline: none;
  border: 0;
  margin: 0;
  background-color: transparent;
  height: 34px;
  width: 100%;
}


.wd-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.wd-img-labels {
  left: 20px;
  bottom: 10px;
}

.wd-bx-br {
  border-top: 1px rgb(47, 51, 54) solid;
  border-bottom: 1px rgb(47, 51, 54) solid;
}

.wd-bxh-br {
  border-left: 1px rgb(47, 51, 54) solid;
  border-right: 1px rgb(47, 51, 54) solid;
}


.list-group-item,
.list-group-item:hover,
.list-group-item:active,
.list-group-item:visited {
  background-color: transparent !important;
  border: 0 !important;
  padding: 0.75rem 1rem;
  color: #ddd;
}

.list-group-item i {
  width: 30px;
}

.list-group-item.active {
  font-weight: bold;
}

.btn-primary {
  background-color: #4B98E9;
  border-color: #4B98E9;
}

.btn-primary:hover {
  background-color: #327eed;
  border-color: #327eed;
}

.link-primary {
  color: #4B98E9;
  text-decoration: none;
}

.link-light-xs,
.link-light-xs:hover {
  text-decoration: none;
  color: #bbb;
}

.link-dark {
  text-decoration: none;
  font-size: 12px;
  color: #646b72;
  margin: 0;
  padding: 0;
}

.link-dark:hover,
.link-dark:focus {
  color: #8d8f91;
}

.link-primary:hover,
.link-primary:focus {
  color: #327eed;
}

.nav-tabs {
  border: 0;
  justify-content: space-between;
}

.nav-tabs .nav-link {
  border: 0;
  color: #646b72;
  ;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: white;
  border-bottom: 3px #4B98E9 solid;
}

.nav-tabs .nav-link:hover {
  color: #8d8f91;
}

.btn-sm {
  font-size: 0.775rem;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

h5,
.wd-h5 {
  font-size: 1.20rem;
}

.wd-x0-9 {
  font-size: 90%;
}

.wd-hr {
  height: 0px;
  margin: 0;
  border: 0;
  border-style: none;
  opacity: 1;
  border-bottom: 1px rgb(47, 51, 54) solid;
}