body {
  background-color: #000 !important;
  font-size: 15px;
}

p {
  margin: 0;
}

.wd-heading {
  color: white;
  font-size: 20px;
}

.wd-sub-heading {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-post-box {
  padding: 12px 16px;
  /* border-bottom: 1px rgb(47, 51, 54) solid; */
}

.wd-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.wd-post-author {
  font-size: 15px;
  margin-bottom: 4px;
}

.wd-post-content {
  max-width: 506px;
  font-size: 15px;
}

.wd-post-card {
  border: 1px rgb(47, 51, 54) solid;
  border-radius: 15px;
  overflow: hidden;
  max-width: 506px;
  box-sizing: border-box;
  margin-top: 12px;
}

.wd-post-card img {
  border-bottom: 1px rgb(47, 51, 54) solid;
}

.wd-post-card .wd-box {
  padding: 12px;
}

.wd-post-card img {
  max-height: 264px;
  width: 100%;
  object-fit: cover;
}

.wd-post-actions {
  margin-top: 12px;
  width: 506px;
  display: flex;
  flex-direction: row;
}

.wd-post-actions a,
.wd-post-actions a:visited,
.wd-post-actions a:hover {
  text-decoration: none;
  color: inherit;
}

.wd-post-actions a.wd-active,
.wd-post-actions a.wd-active:visited,
.wd-post-actions a.wd-active:hover {
  color: red;
}

.wd-post-actions a span {
  padding-left: 12px;
}

.wd-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}