body.wd-defaults {
  font-size: 15px;
  background-color: #000;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wd-defaults p {
  margin: 0;
  padding: 0;
}

.wd-defaults a {
  text-decoration: none;
  outline: none;
}

.wd-layout-con {
  margin-left: 25px;
  margin-right: 25px;
  /* border-left: 1px rgb(47, 51, 54) solid;
  border-right: 1px rgb(47, 51, 54) solid; */
}

.wd-pl-16 {
  padding-left: 16px;
}

.wd-pl-12 {
  padding-left: 12px;
}

.wd-pr-16 {
  padding-right: 16px;
}

.wd-defaults * {
  font-size: inherit;
}

.wd-f1x {
  font-size: 110% !important;
}

.wd-f2x {
  font-size: 120% !important;
}

.wd-f3x {
  font-size: 130% !important;
}

.wd-f4x {
  font-size: 140% !important;
}

.wd-p-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.wd-flex-row {
  display: flex;
  flex-direction: row;
}

.wd-align-items-center {
  align-items: center;
}

.wd-flex1 {
  flex: 1;
}

.wd-flex0 {
  flex: 0;
}

.wd-hr {
  height: 0px;
  margin: 0;
  border: 0;
  border-style: none;
  border-bottom: 1px rgb(47, 51, 54) solid;
}

.wd-color-active,
.wd-color-active a,
.wd-color-active a:active,
.wd-color-active a:hover,
.wd-color-active a:visited {
  color: rgb(29, 161, 242) !important;
  outline: none;
  text-decoration: none;
}

.wd-white {
  color: white;
}

.wd-light-gray {
  color: rgb(110, 118, 125);
}